.container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-35%, -50%);
}

.calendar-box{
    border: solid 1px black;
}

.day-head{
    margin: 5px;
    text-align: center;
    font-weight: bold;
}

.day {
    padding: 20px 0;
    margin: 5px;
    text-align: center;
    background-color: rgb(115, 115, 255);
}

.day:hover{
    background-color: rgb(28, 28, 192);
    color: white;
}

.off-day{
    color: rgb(184, 184, 184);
    background-color: rgb(243, 97, 97);
}

.off-day:hover{
    background-color: rgb(243, 97, 97);
}